@mixin sliderBtn ($bgImg) {
    font-size: 0;
    cursor: pointer;
    background: url($bgImg);
    top: 50%;
    transform: translateY(-50%);
    width: 27px;
    height: 50px;
    position: absolute;
}
@mixin sliderBtns{
    .custom-prev{
        @include sliderBtn('../images/certificates/left.png');
        left: -60px;
    }
    .custom-next{
        @include sliderBtn('../images/certificates/right.png'); 
        right: -60px;
    }
}
@mixin sliderNav{
    .owl-theme .owl-nav {
        margin-top: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        @include sliderBtns();
    }
}